$proFont: 'Source Sans Pro',
sans-serif;
$openFont: 'Open Sans',
sans-serif;
$montFont: 'Montserrat',
sans-serif;

.my__nav {
    background-color: #f2f2f2;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    .responsives {
        margin-left: -150px;
    }

    .fa-times {
        font-size: 24px;
        color: #777;
    }
}


.inbody {
    height: 100vh;
    overflow-y: scroll;
}

.nav__two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    position: relative;
    top: 10% !important;
    // margin-top: 80px;
    // position: sticky;
    // width: 100%;
    padding: 40px 120px;
    background-color: #fff;

    .fa-bars {
        font-size: 32px;
    }
}

.head {
    background-image: url(../images/first-back.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;

    .secrets {
        text-align: center;
        font-size: 200px;
        font-family: 'Source Sans Pro',
            sans-serif;
    }

    h2 {
        font-size: 44px;
        font-family: 'Montserrat',
            sans-serif;

    }

    .p1 {
        font-size: 22px;
        width: 920px;
        text-align: center;
        font-family: 'Open Sans',
            sans-serif;
        letter-spacing: 3px;
    }

    .p2 {
        font-size: 20px;
    }

    .freepik {
        text-decoration: underline;
        color: #fff;

        &:hover {
            text-decoration: none;
        }
    }
}


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 140px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    // color: #818181;
    color: #fff;
    display: block;
    transition: 0.3s;

}

.sidebar a:hover {
    // color: #f1f1f1;
    color: #fff;
}

.sidebar .closebtn {
    position: absolute;
    top: 10%;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    color: red;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}


@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}